:root {
  --main-color: #000;
  --secondary-color: #fff;
  --accent-color: #70b9a7;
}
.theme-dark {
  --bg-color: var(--main-color);
  --text-color:var(--secondary-color);
  --elem-color:var(--secondary-color);
  --accent-text-color: var(--accent-color);
  --line-color: var(--accent-color);
  --section-title-color: var(--accent-color);
  --portfolio-text-color: var(--accent-color);
  --portfolio-text-active-color: var(--main-color);
}
.theme-light {
  --bg-color: var(--secondary-color);
  --text-color: var(--main-color);
  --elem-color: var(--main-color);
  --accent-text-color: var(--accent-color);
  --line-color: var(--main-color);
  --section-title-color: var(--main-color);
  --portfolio-text-color: var(--main-color);
  --portfolio-text-active-color: var(--secondary-color);
}
@font-face{
  font-family:'Calypso-Regular';
  font-style:normal;
  font-weight:400;
  src:url(../assets/fonts/Calypso-Regular/Calypso-Regular.eot) format("embedded-opentype"),
  url(../assets/fonts/Calypso-Regular/Calypso-Regular.woff) format("woff"),
  url(../assets/fonts/Calypso-Regular/Calypso-Regular.ttf) format("truetype")
}
@font-face{
  font-family:'Montserrat-Regular';
  font-style:normal;
  font-weight:400;
  src:url(../assets/fonts/Montserrat-Regular/Montserrat-Regular.eot) format("embedded-opentype"),
  url(../assets/fonts/Montserrat-Regular/Montserrat-Regular.woff) format("woff"),
  url(../assets/fonts/Montserrat-Regular/Montserrat-Regular.ttf) format("truetype")
}
@font-face{
  font-family:'Montserrat-Bold';
  font-style:normal;
  font-weight:800;
  src:url(../fonts/Montserrat-Bold/Montserrat-Bold.eot) format("embedded-opentype"),
  url(../fonts/Montserrat-Bold/Montserrat-Bold.woff) format("woff"),
  url(../fonts/Montserrat-Bold/Montserrat-Bold.ttf) format("truetype")
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--accent-color);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--accent-color);
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--accent-color);
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--accent-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--accent-color);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--accent-color);
}

textarea::-webkit-input-placeholder {
  color: var(--accent-color);
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: var(--accent-color);
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--accent-color);
}

textarea:-ms-input-placeholder {
  color: var(--accent-color);
}

textarea::placeholder {
  color: var(--accent-color);
}

body.hidden {
  display: none;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
  width: 100%;
}
body {
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 20px;
  font-family: 'Montserrat-Regular', sans-serif;
}
.theme-dark body {
  background-color: var(--main-color);
  color: var(--secondary-color);
}
.theme-light body {
  background-color: var(--secondary-color);
  /* color: var(--main-color); */
}
button {
  cursor: pointer;
  font-family: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
.h1 {
  font-family: 'Calypso-Regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: -6%;
} 
.h2 {
  font-size: 40px;
  line-height: 80px;
  color: var(--section-title-color);
  padding: 0 10px;
  margin: 0 10px;
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: var(--bg-color);
}

.h2,
.h4, 
.price__actual {
  font-family: 'Montserrat-Regular', sans-serif;
}
.h3 {
  font-size: 20px;
  line-height: 40px;
  font-family: 'Montserrat-Bold', sans-serif;
}
.h4{
  font-size: 28px;
  line-height: 56px;
}
ul li {
  list-style-type: none;
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.container-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.header__logo {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.header__nav {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 6 1 auto;
  -ms-flex: 6 1 auto;
  flex: 6 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.header__last,
.header-hamburger {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: center;
}
.nav, .nav__list {
  height: 100%;
}
.nav__list,
.header__last {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  line-height: 50px;
}
.nav__list  .nav__item,
.header-lang {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 0 15px;
}
.controls__lang {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 9px;
}
.control-lang__radio {
  width: 0;
  height: 0;
  display: none;
}
.control-lang__radio:checked + label {
  color: var(--accent-color);
}
.control-lang label:hover {
  cursor: pointer;
}
.controls__theme {
  background-color: transparent;
}
.control-theme__btn {
  display: block;
  margin: 0 21px 0 13px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
.theme-dark .controls__theme .control-theme__btn {
  background-image: url(../assets/svg/dark.svg);
}
.theme-dark .controls__theme .control-theme__btn:hover {
  background-image: url(../assets/svg/dark-hover.svg);
  cursor: pointer;
}
.theme-light .controls__theme .control-theme__btn {
  background-image: url(../assets/svg/light.svg);
}

.theme-light .controls__theme .control-theme__btn:hover {
  background-image: url(../assets/svg/light-hover.svg);
  cursor: pointer;
}
.nav__item .btn-transition:hover,
.header-lang__item .btn-transition:hover {
  color: var(--accent-color);
}
.header__logo .header__logo-icon {
  display: block;
  margin: 25px 0;
  background-image: url(../assets/svg/logo.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 85px;
  height: 64px;
}
.header__logo .header__logo-icon:hover {
  background-image: url(../assets/svg/logo-hover.svg);

}
.button {
  width: 220px;
  height: 55px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--main-color);
  font-size: 20px;
  line-height: 40px;
}
.button.btn-transition:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
.hero {
  background-image: url(../assets/img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-content {
  max-width: 100%;
  text-align: center;
  padding: 434px 0 136px;
  margin: auto;
}
.hero__title {
  font-size: 110px;
  line-height: 120px;
}
.hero__text {
  max-width: 636px;
  line-height: 30px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin: auto;
}
.hero__btn {
  padding-top: 56px;
}
.hero__btn button {
  width: inherit;
  height: inherit;
  color: var(--main-color);
  background-color: var(--accent-color);
  padding: 7px 15px;
}
.hero__btn button,
.hero__btn button:hover,
.btn-transition,
.btn-transition:hover {
  -webkit-transition: all .5s; 
  -moz-transition: all .5s; 
  transition: all .5s;
}
.hero__btn a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
.title__content {
  position: relative;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}
.title__line {
  position: absolute;
  height: 2px;
  background-color: var(--line-color);
  width: 48.6%;
  top: 40px;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}
.section-title {
  text-align: center;
}
.skills-items {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 20px;
  color: var(--text-color);
}
.skill-item {
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 99px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  padding-top: 90px;
  padding-bottom: 25px;
  text-align: center;  
  -webkit-box-flex: 0;
  width: 320px;
  background-size: 62px 50px;
}
.skill-item:nth-child(1) {
  background-image: url('../assets/svg/tattoo_icon.svg');
}
.skill-item:nth-child(2) {
  background-image: url('../assets/svg/eyebrow_icon.svg');
}
.skill-item:nth-child(3) {
  background-image: url('../assets/svg/piercing_icon.svg');
}
.skill-item:nth-child(4) {
  background-image: url('../assets/svg/tattoo-unset_icon.svg');
}
.skill-item-title {
  padding: 0 0 20px;
  text-align: center;
  font-weight: bold;
}
.skill-item-desc {
  font-size: 18px;
  line-height: 32px;
  padding: 0 20px;
}
.portfolio__btn {
  margin: auto;
  text-align: center;
  padding: 50px;
}
.portfolio__btn-item {
  display: inline-block;
  padding-bottom: 5px;
}
.portfolio__btn-item > button {
  color: var(--portfolio-text-color);
  background-color: transparent;
  border: 2px solid var(--accent-color)
}
.portfolio__btn-item > button:hover {
  background-color: var(--accent-color);

}
.portfolio__btn-item .btn-transition:hover {
  color: var(--portfolio-text-active-color);
}
.portfolio__btn-item .btn-transition.active {
  color: var(--portfolio-text-active-color);
  background-color: var(--accent-color);
}
.portfolio__images {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex: 1 1 auto;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
  gap: 25px;
}
.portfolio__images {
    -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio__images-item {
  display: inline-block;
   /* width: 32%; */

}
.portfolio__images-item img {
  width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 560px;
}
.video .title__content {
  margin-top: 80px;
}
.video__content {
  position: relative;
  margin-top: 50px;
}
.video__content img {
  width: 100%;
  margin: auto;
  display: block;
}
.video__play {
  background-image: url(../assets/svg/play-btn-default.svg);
  background-size: cover;
  width: 130px;
  height: 130px;
  overflow: inherit;
  margin: auto;
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0; 
}
.video__play.btn-transition:hover {
  background-image: url(../assets/svg/play-btn-hover.svg);
}
.price__list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
}
.price__list .price__item:first-child {
  border-right: 1px solid #fff;
} 
.price__item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  /* padding-top: 30px; */
  text-align: center;
  -webkit-box-flex: 0;
  /* width: 450px; */
  /* border: 3px solid var(--accent-color); */
  color: var(--text-color);
  font-size: 20px;
  line-height: 32px;
  padding: 0 78px;
}
.price__desc li {
  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.price__desc li span:first-child {
  padding-right: 56px;
}
.price__desc li span:last-child {
  color: var(--accent-color);
}
/* .price__actual {
  color: var(--accent-color);
  font-size: 24px;
  line-height: 48px;
} */
.price__button {
  padding-top: 77px;
  text-align: center;
}
/* .price__actual,
.price__services-package ul {
  padding: 10px;
}
 .price__services-package ul {
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 36px;
}
.price__btn_bye {
  margin: 18px 15px 43px;
} */
.contact-me {
  background-image: url(../assets/img/contact-me.jpg);
  background-repeat: no-repeat;
  background-size: auto 700px;
  background-position: center center;
  /* margin-left: -20px;
  margin-right: -20px; */
}
.contact__title {
  background-color: transparent;
  color: var(--accent-color);
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 20px;
}
.contact-me {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-top: 97.5px;
}
.contact__form {
  padding: 20px 20px 0;
}
.contact__form-item {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 40px;
  padding: 5px 0 5px 20px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  width: -webkit-fill-available;
  color: var(--accent-color);
  background: rgba(0, 0, 0, 0.5);
}
textarea.contact__form-item {
  width: 450px;
  height: 100px;
}
.contact__submit {
  font-size: 20px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 170px;
}
.contact__submit.btn-transition:hover {
  color: var(--secondary-color);
}
.footer > .container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0 10px;
  background-color: var(--main-color);
}
.footer__item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  padding: 25px 5px;
}
.footer__item > a.btn-transition:hover {
  color: var(--accent-color);
}
.footer__item:first-child span,
.footer__item:first-child a {
  padding: 5px;
}
.footer__item:last-child a {
  padding: 0 15px;
}
.footer__item:last-child a:last-child {
  padding-right: 5px;
} 
.footer__item .instagram {
  background-image: url(../assets/svg/instagram_icon.svg);
}
.footer__item .facebook {
  background-image: url(../assets/svg/facebook_icon.svg);
}
.footer__item .twitter {
  background-image: url(../assets/svg/twitter_icon.svg);
}
.footer__item .pinterest {
  background-image: url(../assets/svg/pinterest_icon.svg);
}
.footer__item .instagram:hover {
  background-image: url(../assets/svg/instagram_icon-hover.svg);
}
.footer__item .facebook:hover {
  background-image: url(../assets/svg/facebook_icon-hover.svg);
}
.footer__item .twitter:hover {
  background-image: url(../assets/svg/twitter_icon-hover.svg);
}
.footer__item .pinterest:hover {
  background-image: url(../assets/svg/pinterest_icon-hover.svg);
}
.footer__item .instagram,
.footer__item .facebook,
.footer__item .twitter,
.footer__item .pinterest {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
}
.footer__list-icons li {
  display: inline-block;
}
.header-hamburger {
  display: none;
  z-index: 20;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  padding-right: 66px;
}
.hamburger {
  padding: 4px 5px 0;
  margin-right: 59px;
}
.hamburger .line {
  width: 50px;
  height: 2.5px;
  background-color: var(--secondary-color);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hamburger:hover{
  cursor: pointer;
}
#hamburger-1.open .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.open .line:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#hamburger-1.open .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
.light-theme {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.light-theme:hover {
  color: #000;
}

.button.btn-transition.btn:hover {
  color: var(--main-color);
}

.btn {
  border: 1px solid var(--accent-color);
  overflow: hidden;
  text-transform: capitalize;
  z-index: 1;
  position: relative;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

[data-type]:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

[data-type]:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  color: var(--main-color);
  z-index: 8;

}

.btn,
.btn:before,
.btn:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

[data-type="animate-btn"]:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  border-left: 50px solid transparent;
  border-bottom: 80px solid #fff;
}

[data-type="animate-btn"]:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}



@media (max-width: 1439px) {

  .skill-item {
    width: 320px;
    padding-top: 135px;
  }
    .skill-item {
      background-size: 61px 160px;
    }
}

@media (max-width: 1113px) {
  .price__list .price__item:first-child {
    border-right: none;
  }
}
@media (max-width: 840px) {
  .nav__list .nav__item, .header-lang {
    padding: 0 9px !important;
  }
}
/* @media (max-width: 786px) {
  .nav__list .nav__item, .header-lang {
    padding: 0 13px !important;
  }
} */
@media (min-width: 769px) {
    .hero {
      margin-right: -20px;
      margin-left: -20px;
    }
}
@media (max-width: 768px) {
    .nav__list .nav__item, .header-lang {
    padding: 0 15px;
  }
  .nav__item .nav__item-link {
    color: var(--text-color);
  }
  .header__logo .header__logo-icon {
    margin: 25px 0 0 63px;
  }
  .header__last {
    padding-top: 21px;
  }
  .container {
    padding: 0;
  }
  .container-header {
    overflow: hidden;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .hamburger.open {
    position: fixed;
  }
  .header-hamburger {
    display: block;
    position: relative;
    display: block;
  }
  .hamburger.open .line {
    background-color: var(--elem-color);
  }
  .nav {
    max-width: 620px;
    width: 100%;
    right: -620px;
    position: fixed;
    background-color: var(--bg-color);
    display: block;
    z-index: 10;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav.active {
    right: 0;
  }
  .nav__list {
    padding-top: 134px;
    padding-left: 127px;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 35px;
    line-height: 72.5px;
    font-family:'Inter-Regular', sans-serif;
  }
  .nav__list .nav__item {
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    align-self: start;
  }
  .control-theme__btn {
    margin-right: 30px;
  }
  .overlay {
    -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    transition: all .5s;
    background: transparent;
  }
  .overlay.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 9;
  }
  .hero__title h1 {
    font-size: 48px;
    line-height: 64px;
    padding-bottom: 10px;
  }
  .hero-content {
    width: 59%;
    padding: 167px 0 152px;

  }
  .hero__text {
    font-size: 20px;
    line-height: 24px;
  }
  .hero__btn {
    padding-top: 50px;
  }
  .button {
    font-size: 20px;
    line-height: 40px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .h2 {
    font-size: 32px;
    line-height: 40px;
    top: 20px;
  }
  .skills-items {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .skill-item {
    width: 300px;
    padding-top: 135px;
    background-size: 62px 160px;
  }
  .title__content {
    margin-top: 80px;
  }
  .skill-item-title {
    font-size: 20px;
    line-height: 40px;
  }
  .skill-item-desc {
    line-height: 22px;
  }
  .portfolio {
    padding-top: 62px;
  }
  .portfolio__btn {
    padding-top: 83px;
  }
  .portfolio__images {
    padding: 0 20px;
  }
  .video {
    padding-top: 10px;
  }
  .video__play {
    width: 65px;
    height: 65px;
    background-size: cover;
  }
  .price__item {
    width: 420px;
  }
  .contact-me {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contact__content {
    text-align: center;
  }
  textarea.contact__form-item {
    width: -webkit-fill-available;
  }
  .footer > .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 560px) {
  .price__item {
    padding: 0;
    font-size: 16px;
    
  }
  .price__desc li span:first-child {
    padding-right: 28px;
  }
}
@media (max-width: 480px) {
  .header__logo .header__logo-icon {
    margin: 25px 0 0 15px;
  }
  .hero-content {
    width: 75%;
    padding: 167px 0 152px;
  }
  .hero__title h1 {
    font-size: 48px;
  }
  .nav__list {
    font-size: 28px;
    line-height: 56px;
  }
  .price__list {
    padding-right: 20px;
    padding-left: 20px;
  }
  .price__item {
    max-width: 420px;
  }
}
@media (max-width: 320px) {
    .button {
      width: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    .contact__form-item,
    textarea.contact__form-item {
    width: 80%;
  }
}
